## ALS

## 0. Setup

In [1]:
#---- Bibliotecas:

# Análise e manipulação de dados:

import pandas as pd
import numpy as np

# Visualização de dados:

import plotly.io as pio
import plotly.express as px

# Manuseio nos dados

from os import chdir

# ALS

from implicit import als

/home/rafa/Documentos/github/book-recommendation/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#---- Mudando o diretório raiz para a pasta principal do projeto

chdir('../../')

#---- Template dos gráficos:

pio.templates.default = "plotly_white"

#---- Carregando as funções

from functions import *

## 1. Extração dos dados

In [3]:
#---- Dados de treino

train_data = load_sparse_csr('03-data/02-processed/04-ALS-train-data.npz')

train_data

<22569x158236 sparse matrix of type '<class 'numpy.int64'>'
	with 346011 stored elements in Compressed Sparse Row format>

In [4]:
#---- Dados de teste

df_test = pd.read_parquet('03-data/02-processed/02-test_data.parquet')

df_test.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country,RN
0,276747,1885408226,7,The Golden Rule of Schmoozing,Aye Jaye,1998,Listen &amp; Live Audio,25.0,iowa city,iowa,usa,5
1,276762,N3453124715,4,None,None,None,None,25.0,duisburg,nordrhein-westfalen,germany,4
2,276772,3596151465,10,Henry der Held.,Roddy Doyle,2001,"Fischer (Tb.), Frankfurt",NaN,bonn,nordrhein-westfalen,germany,3
3,276786,8478442588,6,El Elogio de La Sombra,Tanazaki,1998,Siruela,34.0,madrid,madrid,spain,4
4,276788,055310666X,10,False Memory,Dean R. Koontz,1999,Bantam Books,NaN,mentone,california,usa,3

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22568 entries, 0 to 22567
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User-ID              22568 non-null  int64
 1   ISBN                 22568 non-null  object
 2   Book-Rating          22568 non-null  int64
 3   Book-Title           18886 non-null  object
 4   Book-Author          18886 non-null  object
 5   Year-Of-Publication  18886 non-null  object
 6   Publisher            18886 non-null  object
 7   Age                  15357 non-null  float64
 8   city                 22568 non-null  object
 9   state                22568 non-null  object
 10  country              22568 non-null  object
 11  RN                   22568 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.1+ MB

In [6]:
#---- Dados de treino

df_train = pd.read_parquet('03-data/02-processed/05-ALS-df-train-data.parquet')

df_train.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country,RN,USER_ID_CAT,IBSN_ID_CAT,USER_ID_INT,ISBN_ID_INT
0,276747,0060517794,9,Little Altars Everywhere,Rebecca Wells,2003,HarperTorch,25.0,iowa city,iowa,usa,1,22404,3844,1,1
1,276747,0671537458,9,Waiting to Exhale,Terry McMillan,1995,Pocket,25.0,iowa city,iowa,usa,2,22404,78067,1,2
2,276747,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997,Vintage Books USA,25.0,iowa city,iowa,usa,3,22404,83361,1,3
3,276747,0943066433,7,How to Deal With Difficult People,Rick Brinkman,1995,Careertrack Inc.,25.0,iowa city,iowa,usa,4,22404,118092,1,4
4,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,25.0,duisburg,nordrhein-westfalen,germany,1,22405,37575,2,5

In [7]:
# #---- De-para's:

# de_para_isbn = pd.read_parquet('03-data/02-processed/05-ALS-DE-PARA-ISBN.parquet')
# de_para_user = pd.read_parquet('03-data/02-processed/06-ALS-DE-PARA-USER.parquet')

In [8]:
# #---- Full data:

# df_full = pd.read_parquet('03-data/02-processed/03-full_data.parquet')

# df_full.head()

## 2. Modelagem

In [9]:
model = als.AlternatingLeastSquares(factors = 30)

model

/home/rafa/Documentos/github/book-recommendation/venv/lib/python3.10/site-packages/implicit/cpu/als.py:95: RuntimeWarning: OpenBLAS is configured to use 8 threads. It is highly recommended to disable its internal threadpool by setting the environment variable 'OPENBLAS_NUM_THREADS=1' or by calling 'threadpoolctl.threadpool_limits(1, "blas")'. Having OpenBLAS use a threadpool can lead to severe performance issues here.
  check_blas_config()

In [10]:
model.fit(train_data)

100%|███████████████████████████████████████████| 15/15 [00:22<00:00,  1.53s/it]

## 3. Recomendações

### 3.1. Nível usuário

In [11]:
user_id_rec = 171011

de_para_user_id_rec = df_train.query(f'`User-ID` == {user_id_rec}')['USER_ID_INT'].iloc[0]

de_para_user_id_rec

14098

In [12]:
#---- TOP 10 livros mais bem avaliados pelo usuário

df_train\
    .query(f'`User-ID` == {user_id_rec}')\
    .query(f'`Book-Rating` != 0')\
    .sort_values(by = 'Book-Rating', ascending = False)[['ISBN', 'Book-Title', 'Book-Rating']]\
    .drop_duplicates()\
    .head(10)

,ISBN,Book-Title,Book-Rating
221525,0439064872,Harry Potter and the Chamber of Secrets (Book 2),10
221526,0439136369,Harry Potter and the Prisoner of Azkaban (Book 3),10
221527,0439139597,Harry Potter and the Goblet of Fire (Book 4),10
221528,043935806X,Harry Potter and the Order of the Phoenix (Boo...,10
221529,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),10
221524,0140386335,The Neverending Story,9

In [14]:
#---- Lista de ISBN que o usuário já leu

readed_isbn_by_user = df_train\
    .query(f'`User-ID` == {user_id_rec}')['Book-Title']\
    .unique()\
    .tolist()

readed_isbn_by_user

['The Neverending Story',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 "Harry Potter and the Sorcerer's Stone (Book 1)"]

In [15]:
not_recommended_list_to_user = df_train\
    .query(f'`Book-Title`.isin({readed_isbn_by_user})')['ISBN_ID_INT']\
    .unique()\
    .tolist()

In [16]:
#---- Top10 recomendações para o usuário

recommendations = model.recommend(de_para_user_id_rec,
                                  train_data[de_para_user_id_rec], 
                                  filter_already_liked_items = True,
                                  N = 10,
                                  filter_items = not_recommended_list_to_user)

list_recommendations = recommendations[0].tolist()

#---- De-para das recomendações para ISBN

isbn_recommendations = df_train\
    .query(f'ISBN_ID_INT.isin({list_recommendations})')['ISBN']\
    .unique()\
    .tolist()

df_train\
    .pipe(filter_list_ordered, 
          col = 'ISBN', 
          list_filter = isbn_recommendations)\
    [['ISBN', 'Book-Title']]\
    .drop_duplicates()['Book-Title'].unique()

array(['The Da Vinci Code',
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'Interview with the Vampire', 'Angels &amp; Demons',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'The Catcher in the Rye',
       'The Two Towers (The Lord of the Rings, Part 2)',
       'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
       'The Return of the King (The Lord of the Rings, Part 3)'],
      dtype=object)

### 3.2. Nível item (PAREI AQUI: ADAPTAR PARA O NOVO DATAFRAME)

In [13]:
isnb_rec = '043935806X'
de_para_isbn_rec = de_para_isbn.query(f'`ISBN` == "{isnb_rec}"')['ISBN_ID_INT'].iloc[0]
de_para_isbn_rec

14

In [14]:
#---- Vamos recomendar outros livros a partir desse livro:

df_full\
    .query(f'`ISBN` == "{isnb_rec}"')['Book-Title']\
    .unique()[0]

'Harry Potter and the Order of the Phoenix (Book 5)'

In [15]:
#---- Top10 recomendação para um livro:

recommendations = model.similar_items(itemid = de_para_isbn_rec)

list_recommendations = recommendations[0].tolist()

#---- De-para das recomendações para ISBN

isbn_recommendations = de_para_isbn\
    .query(f'ISBN_ID_INT.isin({list_recommendations})')['ISBN']\
    .tolist()

df_full\
    .pipe(filter_list_ordered, 
          col = 'ISBN', 
          list_filter = isbn_recommendations)\
    [['ISBN', 'Book-Title']]\
    .drop_duplicates()

               ISBN                                         Book-Title
84       043935806X  Harry Potter and the Order of the Phoenix (Boo...
836368   0307201600                                            Spiders
4963     0316073040                                               None
1001208  0439387760                                               None
1002076  0321186478  Poser 5 for Windows and Macintosh (Visual Quic...
1002087  0881924040  Dirr's Hardy Trees and Shrubs: An Illustrated ...
1002088  1552978443         Best Rose Guide: A Comprehensive Selection
358327   0099773813                                         Annie John
889224   8423324125      El Hombre Que Quiso Ser Rey.Al Final Del Cami
58152    846630665X      Las Cenizas De Angela (Punto De Lectura, 331)

In [19]:
test = pd.DataFrame.sparse.from_spmatrix(train_data)

test

,0,1,2,3,4,5,6,7,8,9,...,158226,158227,158228,158229,158230,158231,158232,158233,158234,158235
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,9,9,8,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,5,8,3,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,7,10,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22564,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22565,0,0,0,0,0,0,0,0,0,0,...,9,7,0,0,0,0,0,0,0,0
22566,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
22567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,8,10,2,9,6,0,0
22568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,5

In [ ]:
#---------- PAREI AQUI:

# - Fazer a parte do item
# - Ler sobre o ALS

# TO-DO's

- Ler um pouco mais sobre a teoria do ALS
- Criar um código que exclua o primeiro item da recomendação do usuário

# Validações

In [17]:
df_train['FLAG_HP'] = np.where(df_train['Book-Title'].str.contains('Potter'), 1, 0)

In [21]:
test = df_train[['User-ID', 'FLAG_HP']]\
    .value_counts()\
    .reset_index()\
    .sort_values(by = ['User-ID', 'FLAG_HP'])

test['percent'] = test['count'] / test.groupby('User-ID')['count'].transform('sum') * 100

test\
    .sort_values(by = 'percent', ascending = False)\
    .query('FLAG_HP == 1 & count >= 3')\
    .head(20)

       User-ID  FLAG_HP  count     percent
14395   189557        1      3  100.000000
15615   141937        1      3  100.000000
15662   159546        1      3  100.000000
14560   254086        1      3  100.000000
7013    252829        1      9  100.000000
14431   245666        1      3  100.000000
14976    57661        1      3  100.000000
10758   171011        1      5   83.333333
13672   272810        1      4   80.000000
12067   111731        1      4   80.000000
12733    40795        1      4   80.000000
14713    65004        1      3   75.000000
13652     4809        1      4   66.666667
15154   249405        1      3   60.000000
15078   195198        1      3   60.000000
15929   233867        1      3   50.000000
11252   275401        1      5   50.000000
11087   240528        1      5   50.000000
16908   183460        1      3   50.000000
10036    35148        1      6   46.153846

In [26]:
df_train\
    .query('`User-ID` == 252829')\
    .sort_values(by = 'Book-Title')

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country,RN,USER_ID_CAT,IBSN_ID_CAT,USER_ID_INT,ISBN_ID_INT,FLAG_HP
320397,252829,0439064864,10,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,18.0,sierra vista,arizona,usa,1,20508,48748,20673,1859,1
320398,252829,0439064872,10,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic,18.0,sierra vista,arizona,usa,2,20508,48749,20673,1289,1
320401,252829,0439139597,10,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,18.0,sierra vista,arizona,usa,5,20508,48880,20673,1861,1
320402,252829,0439139600,10,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2002,Scholastic Paperbacks,18.0,sierra vista,arizona,usa,6,20508,48881,20673,1291,1
320403,252829,043935806X,10,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,18.0,sierra vista,arizona,usa,7,20508,49210,20673,14,1
320399,252829,0439136350,10,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,Scholastic,18.0,sierra vista,arizona,usa,3,20508,48863,20673,1860,1
320400,252829,0439136369,10,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,Scholastic,18.0,sierra vista,arizona,usa,4,20508,48864,20673,1290,1
320404,252829,0590353403,10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,18.0,sierra vista,arizona,usa,8,20508,72295,20673,1870,1
320405,252829,059035342X,10,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books,18.0,sierra vista,arizona,usa,9,20508,72296,20673,1623,1