# Comportamento dos dados

## 0. Setup

In [1]:
#---- Bibliotecas:

# Análise e manipulação de dados:

import pandas as pd
import numpy as np
from os import chdir

In [2]:
#---- Mudando o diretório raiz para a pasta principal do projeto

chdir('../../')

#---- Carregando as funções

from functions import *

## 1. Extração dos dados

In [3]:
train_data = pd.read_parquet('03-data/02-processed/05-ALS-df-train-data.parquet')

train_data

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country,RN,USER_ID_CAT,IBSN_ID_CAT,USER_ID_INT,ISBN_ID_INT
0,276747,0060517794,9,Little Altars Everywhere,Rebecca Wells,2003,HarperTorch,25.0,iowa city,iowa,usa,1,22404,3844,1,1
1,276747,0671537458,9,Waiting to Exhale,Terry McMillan,1995,Pocket,25.0,iowa city,iowa,usa,2,22404,78067,1,2
2,276747,0679776818,8,Birdsong: A Novel of Love and War,Sebastian Faulks,1997,Vintage Books USA,25.0,iowa city,iowa,usa,3,22404,83361,1,3
3,276747,0943066433,7,How to Deal With Difficult People,Rick Brinkman,1995,Careertrack Inc.,25.0,iowa city,iowa,usa,4,22404,118092,1,4
4,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,25.0,duisburg,nordrhein-westfalen,germany,1,22405,37575,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346006,276688,1551669315,6,The Third Wife,Jasmine Cresswell,2002,Mira,NaN,fort lee,new jersey,usa,28,22402,121371,22567,16624
346007,276704,0345386108,6,Winter Moon,Dean R. Koontz,1995,Ballantine Books,NaN,cedar park,texas,usa,1,22403,28227,22568,972
346008,276704,0380796155,5,White Abacus,Damien Broderick,1998,Eos,NaN,cedar park,texas,usa,2,22403,38863,22568,158234
346009,276704,0743211383,7,Dreamcatcher,Stephen King,2001,Scribner,NaN,cedar park,texas,usa,3,22403,89828,22568,15514
346010,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,NaN,cedar park,texas,usa,4,22403,101701,22568,158235

## 2. Criação da flag de avaliação de livros do Harry Potter

In [5]:
train_data['FLAG_BOOK_HP'] = np.where(train_data['Book-Title'].str.contains('Potter'), 1, 0)

In [9]:
# list_of_hp_books = train_data\
#     .query('FLAG_BOOK_HP == 1')['Book-Title']\
#     .unique()\
#     .tolist()

list_of_hp_books = ['Harry Potter and the Chamber of Secrets (Book 2)',
                    'Harry Potter and the Prisoner of Azkaban (Book 3)',
                    'Harry Potter and the Goblet of Fire (Book 4)',
                    'Harry Potter and the Order of the Phoenix (Book 5)',
                    "Harry Potter and the Sorcerer's Stone (Book 1)"]

list_of_hp_books

['Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 "Harry Potter and the Sorcerer's Stone (Book 1)"]

In [23]:
pd.set_option('max_colwidth', 800)

for book in list_of_hp_books:

    print(f'>>>>>>>>>>>>> Livro escolhido: {book}')

    # DataFrame temporário com os usuários que avaliaram o livro do Harry Potter

    df_temp = train_data\
        .query(f'`Book-Title` == "{book}"')

    # Lista dos usuários 

    list_users_temp = df_temp['User-ID'].unique().tolist()

    # 

    df_train_data_temp = train_data\
        .query(f'`User-ID`.isin({list_users_temp})')['Book-Title']\
        .value_counts()\
        .reset_index()\
        .query(f'`Book-Title` != "{book}"')\
        .head(20)

    display(df_train_data_temp)

>>>>>>>>>>>>> Livro escolhido: Harry Potter and the Chamber of Secrets (Book 2)

                                                          Book-Title  count
1                  Harry Potter and the Prisoner of Azkaban (Book 3)    155
2                       Harry Potter and the Goblet of Fire (Book 4)    137
3                     Harry Potter and the Sorcerer's Stone (Book 1)     85
4   Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))     81
5                 Harry Potter and the Order of the Phoenix (Book 5)     75
6         The Fellowship of the Ring (The Lord of the Rings, Part 1)     35
7                                              Bridget Jones's Diary     32
8                     The Two Towers (The Lord of the Rings, Part 2)     24
9                                              To Kill a Mockingbird     22
10        The Bad Beginning (A Series of Unfortunate Events, Book 1)     20
11                                         The Lovely Bones: A Novel     20
12                                                 The Da Vinci Code     19
13                                            The Catcher in the Rye     18
14                   Divine Secrets of the Ya-Ya Sisterhood: A Novel     18
15                                                          The Firm     18
16                                                        Life of Pi     17
17                                                        The Client     17
18      The Hobbit : The Enchanting Prelude to The Lord of the Rings     16
19                                        Interview with the Vampire     16
20                                                A Walk to Remember     15

>>>>>>>>>>>>> Livro escolhido: Harry Potter and the Prisoner of Azkaban (Book 3)

                                                          Book-Title  count
1                   Harry Potter and the Chamber of Secrets (Book 2)    157
2                       Harry Potter and the Goblet of Fire (Book 4)    143
3                 Harry Potter and the Order of the Phoenix (Book 5)     79
4                     Harry Potter and the Sorcerer's Stone (Book 1)     76
5   Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))     66
6         The Fellowship of the Ring (The Lord of the Rings, Part 1)     33
7                                              Bridget Jones's Diary     27
8                     The Two Towers (The Lord of the Rings, Part 2)     22
9                                         Interview with the Vampire     18
10                                             To Kill a Mockingbird     18
11      The Hobbit : The Enchanting Prelude to The Lord of the Rings     17
12        The Bad Beginning (A Series of Unfortunate Events, Book 1)     17
13                                            The Catcher in the Rye     16
14            The Return of the King (The Lord of the Rings, Part 3)     15
15                                                        Red Dragon     15
16                                                 The Da Vinci Code     15
17                                                     Jurassic Park     14
18                                         The Lovely Bones: A Novel     14
19                                                A Walk to Remember     14
20                                               Angels &amp; Demons     14

>>>>>>>>>>>>> Livro escolhido: Harry Potter and the Goblet of Fire (Book 4)

,Book-Title,count
1,Harry Potter and the Prisoner of Azkaban (Book 3),141
2,Harry Potter and the Chamber of Secrets (Book 2),137
3,Harry Potter and the Order of the Phoenix (Book 5),84
4,Harry Potter and the Sorcerer's Stone (Book 1),66
5,Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback)),52
6,"The Fellowship of the Ring (The Lord of the Rings, Part 1)",29
7,Bridget Jones's Diary,28
8,"The Two Towers (The Lord of the Rings, Part 2)",20
9,"The Bad Beginning (A Series of Unfortunate Events, Book 1)",19
10,A Walk to Remember,17
11,The Secret Life of Bees,16
12,Me Talk Pretty One Day,15
13,The Catcher in the Rye,15
14,The Da Vinci Code,15
15,The Lovely Bones: A Novel,15
16,"The Return of the King (The Lord of the Rings, Part 3)",14
17,"Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",14
18,To Kill a Mockingbird,14
19,Interview with the Vampire,13
20,Where the Heart Is (Oprah's Book Club (Paperback)),13

>>>>>>>>>>>>> Livro escolhido: Harry Potter and the Order of the Phoenix (Book 5)

                                                          Book-Title  count
1                       Harry Potter and the Goblet of Fire (Book 4)     88
2                  Harry Potter and the Prisoner of Azkaban (Book 3)     80
3                   Harry Potter and the Chamber of Secrets (Book 2)     77
4                     Harry Potter and the Sorcerer's Stone (Book 1)     44
5   Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))     36
6         The Fellowship of the Ring (The Lord of the Rings, Part 1)     23
7                                                  The Da Vinci Code     20
8                                          The Lovely Bones: A Novel     19
9                     The Two Towers (The Lord of the Rings, Part 2)     16
10                                             Bridget Jones's Diary     16
11                                             To Kill a Mockingbird     15
12                                               Angels &amp; Demons     15
13                                            The Catcher in the Rye     15
14        The Bad Beginning (A Series of Unfortunate Events, Book 1)     14
15         The Reptile Room (A Series of Unfortunate Events, Book 2)     12
16            The Return of the King (The Lord of the Rings, Part 3)     12
17                                                        Life of Pi     12
18                                                        The Client     11
19                                                    Summer Sisters     11
20                                                       The Chamber     11

>>>>>>>>>>>>> Livro escolhido: Harry Potter and the Sorcerer's Stone (Book 1)

                                                          Book-Title  count
1                   Harry Potter and the Chamber of Secrets (Book 2)     88
2                  Harry Potter and the Prisoner of Azkaban (Book 3)     77
3                       Harry Potter and the Goblet of Fire (Book 4)     68
4                 Harry Potter and the Order of the Phoenix (Book 5)     44
5         The Fellowship of the Ring (The Lord of the Rings, Part 1)     26
6                     The Two Towers (The Lord of the Rings, Part 2)     18
7                                          The Lovely Bones: A Novel     14
8             The Return of the King (The Lord of the Rings, Part 3)     14
9                                              Bridget Jones's Diary     14
10                                                 The Da Vinci Code     14
11                                            The Catcher in the Rye     13
12      The Hobbit : The Enchanting Prelude to The Lord of the Rings     12
13                               The Hobbit: or There and Back Again     12
14                                                      The Notebook     11
15                                          White Oleander : A Novel     11
16                                        Interview with the Vampire     11
17                   Divine Secrets of the Ya-Ya Sisterhood: A Novel     10
18                                        The Nanny Diaries: A Novel     10
19  Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))     10
20                                                        Life of Pi     10

In [30]:
lst_temp = train_data\
    .query('FLAG_BOOK_HP == 1')['Book-Title']\
    .unique()\
    .tolist()

[book for book in lst_temp if 'Book 6' in book]

[]

In [35]:
#---- Não temos um Livro 6 de Harry Potter

# Problema de negócio - O que houve para não ter esse livro?
# Hipóteses:
# - A editora não lançou a partir do livro 6
# - Os livros esgotaram e não entraram para o dataset
# - A nossa amostra pode estar viesada de alguma forma 

train_data\
    .query('`Book-Title`.str.contains("Book 6", na = False)')\
    .query('`Book-Title`.str.contains("Potter")')['Book-Title']\
    .unique()

array([], dtype=object)

In [40]:
# Também não temos o livro 6 

train_data\
    .query('`Book-Title`.str.contains("Prince", na = False)')\
    .query('`Book-Title`.str.contains("Potter")')['Book-Title']\
    .unique()

array([], dtype=object)